.introduce-wrapper::before {
    content: '';
    background-image: url('../../assets/images/bg-3.jpg');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.05;
}
